#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--large-pd);
    border-top: 1px solid var(--black);
    margin: var(--large-mg);
    #menu{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: calc(var(--medium-gap) + var(--small-gap));
        li{
            a{
                color: var(--black);
                &:hover{
                    color:var(--primary-color);
                    i{
                        transform: scale(1.1);
                    }
                }
                i{
                    font-size: calc(var(--font-size-xl) + var(--font-size-xl));
                    transition: .2s;
                }
            }
        }
    }
}